# Binaries and object files
bin/
*.o
*.out
*.exe

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.pytest_cache/
*.egg-info/
dist/
build/

# System & Editor files
.DS_Store
.vscode/
.idea/
*.swp
*.log
